/*    
    \version 3.2.5
    
    This file is part of the BMLT Common Satellite Base Class Project. The project GitHub
    page is available here: https://github.com/MAGSHARE/BMLT-Common-CMS-Plugin-Class
    
    This file is part of the Basic Meeting List Toolbox (BMLT).
    
    Find out more at: http://bmlt.magshare.org
    
    BMLT is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
*/
/**************************************************/
/* These are all for the table display shortcode. */
/**************************************************/

div.bmlt_table_display_div_theme_BlueAndRed .bmlt_table_header_weekday_list li
{
    background-color:#006;
    border-color: #f30;
}

div.bmlt_table_display_div_theme_BlueAndRed .bmlt_table_header_weekday_list li span
{
    color:#f30;
}

div.bmlt_table_display_div_theme_BlueAndRed .bmlt_table_header_weekday_list li.is_selected
{
    background-color:#f30;
    color:#006;
    border-color: #006;
}

div.bmlt_table_display_div_theme_BlueAndRed .bmlt_table_header_weekday_list li.is_selected span
{
    color:#006;
}

div.bmlt_table_display_div_theme_BlueAndRed table.bmlt_table th
{
    border-top:2px solid #f30;
    border-left:1px solid #f30;
}

div.bmlt_table_display_div_theme_BlueAndRed table.bmlt_table th span
{
    background-color: #006;
    color: #f30;
}

div.bmlt_table_display_div_theme_BlueAndRed .bmlt_table_header_weekday_list span.bmlt_table_mouseover,
div.bmlt_table_display_div_theme_BlueAndRed table.bmlt_table th span.bmlt_table_mouseover
{
    color: #ff0;
}

div.bmlt_table_display_div_theme_BlueAndRed table.bmlt_table th.bmlt_table_header_th_format span
{
    color: white;
}

div.bmlt_table_display_div_theme_BlueAndRed table.bmlt_table th span.bmlt_table_header_selected_sort_direction_asc
{
    background-image:url("themes/BlueAndRed/images/TableSortAsc.gif");
}

div.bmlt_table_display_div_theme_BlueAndRed table.bmlt_table th span.bmlt_table_header_selected_sort_direction_asc.bmlt_table_mouseover
{
    background-image:url("themes/BlueAndRed/images/TableSortAsc_mouseover.gif");
}

div.bmlt_table_display_div_theme_BlueAndRed table.bmlt_table th span.bmlt_table_header_selected_sort_direction_desc
{
    background-image:url("themes/BlueAndRed/images/TableSortDesc.gif");
}

div.bmlt_table_display_div_theme_BlueAndRed table.bmlt_table th span.bmlt_table_header_selected_sort_direction_desc.bmlt_table_mouseover
{
    background-image:url("themes/BlueAndRed/images/TableSortDesc_mouseover.gif");
}

div.bmlt_table_display_div_theme_BlueAndRed table.bmlt_table td div.bmlt_formats_div span
{
    color: #f30;
    background-color: #006;
}

div.bmlt_table_display_div_theme_BlueAndRed table.bmlt_table td div.bmlt_formats_div span.bmlt_table_mouseover
{
    color: #ff0;
}

div.bmlt_table_display_div_theme_BlueAndRed table.bmlt_table tr.bmlt_row_odd td
{
    background-color: #fee;
}

div.bmlt_table_display_div_theme_BlueAndRed table.bmlt_table tr td
{
    padding:0.25em;
}

div.bmlt_table_display_div_theme_BlueAndRed table.bmlt_table tr.bmlt_table_tbody_comments_tr td span
{
    font-style:italic;
}
