/*    
    \version 3.2.4
    
    This file is part of the BMLT Common Satellite Base Class Project. The project GitHub
    page is available here: https://github.com/MAGSHARE/BMLT-Common-CMS-Plugin-Class
    
    This file is part of the Basic Meeting List Toolbox (BMLT).
    
    Find out more at: http://bmlt.magshare.org
    
    BMLT is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
*/
/**************************************************/
/* These are all for the table display shortcode. */
/**************************************************/

div.bmlt_table_display_div_theme_GreyAndMaroon .bmlt_table_header_weekday_list li
{
    background-color:#600;
    border-color: #ccc;
}

div.bmlt_table_display_div .bmlt_table_header_weekday_list span
{
    color:#ccc;
    font-size:large;
}

div.bmlt_table_display_div_theme_GreyAndMaroon .bmlt_table_header_weekday_list li.is_selected
{
    background-color:#ccc;
    color:#600;
    border-color: #600;
}

div.bmlt_table_display_div_theme_GreyAndMaroon .bmlt_table_header_weekday_list li.is_selected span
{
    color:#600;
}

div.bmlt_table_display_div_theme_GreyAndMaroon table.bmlt_table th
{
    border-top:2px solid #ccc;
    border-left:1px solid #ccc;
}

div.bmlt_table_display_div_theme_GreyAndMaroon table.bmlt_table th span
{
    background-color: #600;
    color: #ccc;
}

div.bmlt_table_display_div_theme_GreyAndMaroon table.bmlt_table span.bmlt_table_header_selected_sort_direction_asc
{
    background-image:url("images/TableSortAsc.gif");
}

div.bmlt_table_display_div_theme_GreyAndMaroon table.bmlt_table span.bmlt_table_header_selected_sort_direction_desc
{
    background-image:url("images/TableSortDesc.gif");
}

div.bmlt_table_display_div_theme_GreyAndMaroon table.bmlt_table td span
{
    color: #600;
}

div.bmlt_table_display_div_theme_GreyAndMaroon table.bmlt_table td div.bmlt_formats_div span
{
    color: #ccc;
    background-color: #600;
}

div.bmlt_table_display_div_theme_GreyAndMaroon table.bmlt_table tr.bmlt_row_odd td
{
    background-color: #eee;
}

div.bmlt_table_display_div_theme_GreyAndMaroon table.bmlt_table tr td
{
    border-left:1px dashed #600;
}
